header.fixed *[disabled="disabled"] {
	opacity: 0.8;
	pointer-events: none;
}

#drawer {
	height: 5rem ! important;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 101 !important;
}

#index {
	position: absolute;
	width: 100%;
}


#back:not(.folder) {
	visibility: hidden;
}

#back.folder {
	display: none;
}

#loading {
	background-color: rgb(255,255,255);
}

#loading.fade-in {
	animation: none;
	opacity: 1;
}

#loaded {
	height: 100%;
	opacity: 0;
}

#loaded.fade-in {
  animation: fadeIn 0.7s forwards;
  -webkit-animation: fadeIn 0.7s forwards;
}

#close.pick {
	display: none;
}

#drawer > header:first-child > menu:first-child > a[data-action="hide"] {
  display: none;
}
#drawer:target > header:first-child > menu:first-child > a[data-action="hide"] {
  display: block;
}
#drawer > header:first-child > menu:first-child > a[data-action="show"] {
  display: block;
}
#drawer:target > header:first-child > menu:first-child > a[data-action="show"] {
  display: none;
}

#drawer:target {
	transition: all 0.4s ease;
	transform: translateX(-80%) !important;
}

#drawer:target + .left-to-current, #drawer:target + .current, #drawer:target + section + .current, #drawer:target + section + .left-to-current, #drawer:target + section + section + .current, #drawer:target + section + section + .left-to-current {
	transition: all 0.4s ease;
	transform: translateX(-80%) !important;
}

#refresh[data-state="executing"] {
  animation: 0.9s msg-rotate infinite steps(30);
  pointer-events: none;
}

#logo {
	margin: auto;
}

section[role="region"] { 
	z-index: 100 !important;
}

.loading-container {
	margin-top: -10rem;
	position: relative;
	text-align: center;
	top: 50%;
}

.loading-bar-container {
	border: none;
	border-radius: 2rem;
	height: 1.5rem;
	margin: auto;
	max-width: 30rem;
	overflow: hidden;
	white-space: nowrap;
	width: 60%;
}

@keyframes msg-rotate {
	from {
		transform: rotate(1deg);
	}
	to {
		transform: rotate(360deg);
	}
}
