* {
/*    font-family: 'FiraSans';*/
    font-family: sans-serif;
}

@font-face {
  font-family: 'FiraSans';
  src: url('fonts/FiraSans/FiraSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'FiraSans';
  src: url('fonts/FiraSans/FiraSans-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'FiraSans';
  src: url('fonts/FiraSans/FiraSans-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'FiraSans';
  src: url('fonts/FiraSans/FiraSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}